html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --nav-color: rgb(238, 67, 89);
  --icon-color-white: invert(100%) sepia(4%) saturate(326%) hue-rotate(8deg)
  brightness(116%) contrast(100%);
  --sidebar-color: rgb(218, 218, 218);
  --dark-font-color: rgb(121, 121, 121);
  --dark-font-color-opaque: rgba(121, 121, 121, 0.2);
  
}

.App {
  font-family: "Montserrat", sans-serif;
}

/* NAVIGATION */
.navigation {
  height: 45px;
  padding: 0 0.7rem;
  background-color: var(--nav-color);
  color: white;
  font-weight: 700;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

.navigation-items {
  width: 100%;
  height: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-item {
  padding-left: 5px;
  padding-bottom: 30px;
}

.navigation-item > a {
  color: white;
  text-decoration: none;
}

.navigation-item-icon {
  filter: var(--icon-color-white);
}

.navigation-item-right {
  margin-left: auto;
  padding-right: 5px;
  font-weight: 400;
}

/* LOGIN FORM */

.login-form {
  width: 500px;
  margin: 10rem auto 0 auto;
  padding: 1rem;
  background-color: var(--sidebar-color);
}

.login-form > form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form h3 {
  text-align: center;
}

.login-form-input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  height: 1.3rem;
  border: none;
}

.login-form-input:focus {
  outline: solid var(--nav-color);
  outline-width: 0.5px;
}

.login-form-submit {
  background-color: var(--nav-color);
  border: none;
  color: white;
  width: 150px;
  font-size: 1rem;
  border-radius: 5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  align-self: center;
}

.login-form-submit:hover {
  background-color: white;
  color: var(--nav-color);
  box-shadow: 0 0 0 3px var(--nav-color);
}

/* DROPDOWN MENU */

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1;
  padding-top: 0.5rem;
  width: 200px;
  /* background-color: var(--sidebar-color); */
  background-color: white;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  outline: 1px solid var(--dark-font-color-opaque);
}

.dropdown-menu-item {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
}

.dropdown-menu-item:hover > a {
  color: var(--nav-color);
}

.dropdown-menu-item > a {
  color: unset;
  text-decoration: none;
}

/* APP CONTENT */

.content-wrapper {
  display: grid;
  grid-template-columns: 225px auto;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  overflow: auto;
  height: 100%;
  background-color: var(--sidebar-color);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction:column;
}

.sidebar-section {
  margin: 1rem 0 0 1rem;
}

.sidebar-section-heading {
  opacity: 30%;
  display: block;
  margin-bottom: 0.5rem;
}

.sidebar-section-divider {
  width: 90%;
  opacity: 10%;
}

/* SHELF */

.shelf {
  padding: 5px 5px 5px 0;
  display: flex;
  align-items: center;
}

.shelf:hover {
  cursor: pointer;
  background-color: var(--dark-font-color-opaque);
}

.shelf:hover > .shelf-icon {
  display: block;
}

.selected {
  background-color: var(--dark-font-color-opaque);
  box-shadow: 0 2px 0 0 var(--dark-font-color);
}

.shelf-icon {
  display: none;
  height: 17px;
  width: 17px;
  padding: 0 3px;
}

.shelf-icon:hover {
  fill:rgba(238, 67, 89, 0.8);
}

.shelf-icon:nth-child(2) {
  margin-left: auto;
}

/* SHELF EDIT */

.shelf-edit-input {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  padding: 0;
  background-color: unset;
  border: none;
  outline: none;
  font-size: 1rem;
  font-style: italic;
}

/* NEW SHELF CREATION */

.create-shelf-component {
  margin: 1rem 0 0 1rem;
  padding: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
}

.create-shelf-component > span {
  cursor: pointer;
}

.create-shelf-input {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  padding: 0;
  background-color: unset;
  border: none;
  box-shadow: 0 2px 0 0 var(--dark-font-color);
  outline: none;
  font-size: 1rem;
}

.create-shelf-icon {
  margin-left: 1.5rem;
  height: 17px;
  width: 17px;
  padding: 0 3px;
}

.create-shelf-icon:hover {
  fill:rgba(238, 67, 89, 0.8);
  cursor:pointer;
}

/* CONTENT OUTPUT */

.content-container {
  display: grid;
  grid-template-rows: 35px auto;
}

/* SEARCH WITHIN OUTPUT */

.shelf-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  height: 35px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
}

.shelf-search > input {
  outline: none;
  border: none;
  font-size: 1rem;
}

/* LOADING ANIMATION */

.loading {
  margin: auto;
  border: 20px solid var(--sidebar-color);
  border-radius: 50%;
  border-top: 20px solid var(--nav-color);
  width: 200px;
  height: 200px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* BOOK CARD OUTPUT */

.card-output {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem 1.2rem;
  padding: 1rem;
}

.book-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 220px;
  background-color: var(--dark-font-color-opaque);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.book-card:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.book-info {
  overflow: auto;
}

.book-rating {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-card-options {
  margin-left: auto;
  font-size: 2rem;
  cursor: pointer;
}

.book-card-options:hover{
  color: var(--nav-color)
}